/* Styles for the Loop Machine */
/* Created by mike_ss at Fiverr.com. You can find me at https://www.fiverr.com/mike_ss */
#loopmachine_container{ width: 650px; margin: 30px auto 0; }
h1{ text-align: center; margin-bottom: 20px; }
.loop_pad{ width: 180px; height: 180px; margin: 10px auto; border-radius: 10px; }
.loop_pad:hover{ cursor: pointer; }
.loop_pad_text{ width: 100%; height: 100%; display: table; padding: 10px; box-sizing: border-box; }
.loop_pad_text span{ display: table-cell; vertical-align: middle; color: #ffffff; font-weight: bold; font-size: 16px; text-align: center; word-break: break-all; }
#loop_pad_1{ background-color: #bf0000; }
#loop_pad_2{ background-color: #00a6ff; }
#loop_pad_3{ background-color: #00c400; }
#loop_pad_4{ background-color: #c2c400; }
#loop_pad_5{ background-color: #ba00c6; }
#loop_pad_6{ background-color: #00c47d; }
#loop_pad_7{ background-color: #c38200; }
#loop_pad_8{ background-color: #96a600; }
#loop_pad_9{ background-color: #00c685; }
#loop_pad_1:hover{ background-color: #ff0000; }
#loop_pad_2:hover{ background-color: #6bdcff; }
#loop_pad_3:hover{ background-color: #00ff49; }
#loop_pad_4:hover{ background-color: #f4f44c; }
#loop_pad_5:hover{ background-color: #f600ff; }
#loop_pad_6:hover{ background-color: #00ffb3; }
#loop_pad_7:hover{ background-color: #ffb700; }
#loop_pad_8:hover{ background-color: #cddc39; }
#loop_pad_9:hover{ background-color: #32ffb9; }
#play_button{ width: 150px; height: 40px; display: block; margin: 0 auto; background-color: #4848f7; color: #ffffff; font-weight: bold; border: none; margin-top: 20px; border-radius: 5px; }
#play_button:hover{ background-color: #7575ff; }
@media all and (max-width: 767px){
	#loopmachine_container{ width: 430px; margin-top: 10px; }
	.loop_pad{ width: 120px; height: 120px; }
	.loop_pad_text span{ font-size: 14px; }
}
@media all and (max-width: 450px){
	#loopmachine_container{ width: 350px; }
	.loop_pad{ width: 90px; height: 90px; }
	.loop_pad_text{ padding: 5px; }
	.loop_pad_text span{ font-size: 12px; font-weight: normal; }
	#play_button{ font-size: 14px; font-weight: normal; width: 120px; height: 32px; }
}